.button{
    margin-left: 50px;
    margin-right: 35px;
}

.book--list{
  width: 1000px;
  /* height: 500px;  */
  /* display: flex; */
  justify-content: space-evenly;
}

td {
    border: 1px solid black;
  }